services:
  frontend:
    build:
      context: ./frontend

      args:
        - APP_VERSION=1.0.x-compose
        - APP_CONFIG_CODE=${FRONTEND_SECRET_KEY}

    image: frontend:3.0
    ports:
      - 8000:80

    deploy:
      replicas: 3

    volumes:
      - log_data:/data
      - hello_storage_data:/abcdef

    networks:
      - frontend-net

    # develop:
    #   watch:
    #     - path: ./frontend
    #       action: rebuild

  backend:
    build: backend
    image: backend:1.0

    networks:
      - frontend-net
      - db-net

  db:
    container_name: db
    image: busybox
    command: sleep 1000

    networks:
      - db-net

  # web:
  #   image: nginx:latest
  #   ports:
  #     - 8010:80

volumes:
  log_data:

  hello_storage_data:
    external: true

networks:
  frontend-net:
  db-net:
